@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');


@theme {
  --color-mowana: #146c6c;
  --color-mowana-green: #093E2E;
  --color-nav: #c6eedc;
  --color-orbtn: #FFC31D;
  --color-mowana-dark: #136868;
  --color-mowana-light: #146C6C;
}


.active {
  color: #146C6C;
}

.noor {
  color: #1DA35A2E;
}

.custom-slider .slick-dots {
  bottom: -50px;
  /* نزّلها 30px */
}


span.spa:hover {
  background: #146C6C;
}

button.btn:hover {
  background: #05df72;
}

div.btn{
  border: 1px solid;
  transition: .3s all;
  margin-top: 29px;
}

div.btn:hover {
  background: #146C6C;
  cursor: pointer;
  color: white;
}
